<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCbgVH5jydTeiDDa7Y7SLBwCBdEPo2Ez8s</string>
	<key>GCM_SENDER_ID</key>
	<string>1086330927496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wasurenai.app</string>
	<key>PROJECT_ID</key>
	<string>wasurenai-113be</string>
	<key>STORAGE_BUCKET</key>
	<string>wasurenai-113be.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086330927496:ios:1755cec45e55d0adc1e23d</string>
</dict>
</plist>